 <div class="sub-menu" ></div>
 <div class="container-fluid sf-container">
 	<div class="col-md-6" style="margin-top: 15px">
 		<button type="button" id="btnSave" name="btnSave" class="btn_bg1 btn sf-btn-gap btn-sf-primary" data-ng-click="fnSave()">Save</button>
 		<button type="button" id="btnCancel" name="btnCancel" class="btn_bg1 btn sf-btn-gap btn-sf-primary" data-ng-click="fnCancel()">Cancel</button>
 	</div>
 	<div class="col-md-12 margin-top">
 		<div class="sf-form-header sf-label ng-binding ng-scope">Opportunities Details</div>
 	</div>
 	<div class="form-group">		
 		<div class="col-md-6">
 			<div class="form-group edit-form">		
 				<label class="edit-lable text-right red">Name</label>				
 				<input class="form-control edit-input" type="text">
 			</div>
 			<div class="form-group edit-form">		
 				<label class="edit-lable text-right red">Status</label>							
 				<select id="sales_rep" class="form-control edit-input" disabled="disabled">
 					<option value="Prospect" >Qualified</option>
 					<option value="Customer" >Customer</option>		
 				</select>
 			</div>
 			<div class="form-group edit-form">		
 				<label class="edit-lable text-right">Opp Type</label>							
 				<select id="sales_rep" class="form-control edit-input">
 					<option value="Prospect" >Prospect</option>
 					<option value="Customer" >Customer</option>		
 				</select>
 			</div>

 			<div class="form-group edit-form">		
 				<label class="edit-lable text-right">Probability %</label>							
 				<input class="form-control edit-input" type="text" disabled="disabled" value="20.0">
 			</div>

 			<div class="form-group edit-form">		
 				<label class="edit-lable text-right red">Close date</label>							
 				<input class="form-control edit-input" type="text">
 			</div>

 			
 			
 		</div>		
 		<div class="col-md-6">
 			<div class="form-group edit-form">		
 				<label class="edit-lable text-right red">Company</label>							
 				<input class="form-control edit-input" type="text">
 			</div>
 			<div class="form-group edit-form">		
 				<label class="edit-lable text-right">Sales rep</label>							
 				<select id="sales_rep" class="form-control edit-input">
 					<option value="Prospect" >Ravi Teja Villa</option>
 				</select>
 			</div>
 			<div class="form-group edit-form">		
 				<label class="edit-lable text-right red">Opportunity $</label>							
 				<input class="form-control edit-input" type="text">
 			</div>	
 			<div class="form-group edit-form">
 				<label class="edit-lable text-right">Forecast $</label>
 				<input class="form-control edit-input" type="text">
 			</div>			
 			<div class="form-group edit-form">		
 				<label class="edit-lable text-right red">Source</label>							
 				<select id="sales_rep" class="form-control edit-input">
 					<option value="Prospect" >Other</option>
 					<option value="Customer" >Cold call</option>
 					<option value="Customer" >Networking Event</option>		
 				</select>
 			</div>	
 			
 			
 		</div>	
 	</div>
 	<div class="col-md-12 margin-top">
 		<div class="sf-form-header sf-label ng-binding ng-scope">Additional Information</div>
 	</div>
 	<div class="form-group">		
 		<div class="col-md-6">
 			<div class="form-group edit-form">
 				<label class="edit-lable text-right red">Created by</label>
 				<input class="form-control edit-input" type="text" disabled="disabled" placeholder="Ravi Teja Villa">
 			</div>		
 			<div class="form-group edit-form">
 				<label class="edit-lable text-right red">Updated by</label>
 				<input class="form-control edit-input" type="text" disabled="disabled" placeholder="Ravi Teja Villa">
 			</div>
 			<div class="form-group edit-form">
 				<label class="edit-lable text-right red">Visible to</label>
 				<input class="form-control edit-input" type="text" disabled="disabled" placeholder="Just me">
 			</div>		
 			
 		</div>		
 		<div class="col-md-6">
 			<div class="form-group edit-form">
 				<label class="edit-lable text-right red">Created on</label>
 				<input class="form-control edit-input" type="text" placeholder="10/10/16 04:09 PM" disabled="disabled">
 			</div>		
 			<div class="form-group edit-form">
 				<label class="edit-lable text-right red">Updated on</label>
 				<input class="form-control edit-input" type="text" disabled="disabled" placeholder="10/10/16 04:09 PM">
 			</div>
 			
 			<div class="form-group edit-form">
 				<label class="edit-lable text-right">Workflow name</label>
 				<input class="form-control edit-input" type="text" disabled="disabled" placeholder="Opportunity workflow">
 			</div>
 		</div>		
 	</div>
 	
 	
 </div>
 
 
</div>
<div class="col-sm-6">
	<button type="button" id="btnSave" name="btnSave" class="btn_bg1 btn sf-btn-gap btn-sf-primary" data-ng-click="fnSave()">Save</button>
	<button type="button" id="btnCancel" name="btnCancel" class="btn_bg1 btn sf-btn-gap btn-sf-primary" data-ng-click="fnCancel()">Cancel</button>
</div>
</div>