<div id="shareWith">
        <div ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header pop-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title">Share with</h4>
                </div>
				   <div class="modal-body">												
						<div class="form-group">	
						<div><span><input type="checkbox">	Everyone</span></div>
							<div><span><input type="checkbox">  Ravi Teja Villa</span></div>
						</div>
					<div class="text-left">
						<input name="" value="Apply" onclick="saveSetupView()" class="btn_bg1 small_btn" type="button">
					</div>
				  </div>
			   </div>
            </div>
        </div>