<div class="container"  ng-show="$state.includes('login')">
    <div class="row">
        <div class="col-md-12 logo">
            <a href="http://www.soffront.com/" target="_blank"><img src="images/soffront_logo.png" alt="Logo" /></a>
        </div>
    </div>
</div>

<div class="container-large"  ng-hide="$state.includes('login')">
    <div class="row">
        <div class="header-top">
            <div class="col-md-3 logo">
                <a href="http://www.soffront.com/" target="_blank"><img src="images/soffront_logo-home.png" alt="Logo" />
                </a>
                <div class="powered_by">
                    Powered by
                    <br>
                    <a class="ssblack" style="text-decoration: none" href="http://www.soffront.com/" target="_blank">sof<span>front</span></a>
                </div>
            </div>

            <div class="col-md-6 h-search">
                <div class="header-search">
                    <span class="search-title">Accounts</span>
                    <div class="input-group" id="adv-search">
	                    <div class="btn-group pull-left" uib-dropdown>
					      <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
					        <img src="images/img_down_arrow.png">
					      </button>
					      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="split-button">
					        <li><a href="javascript:void(0)">Accounts</a></li>
	                        <li><a href="javascript:void(0)">Accounts Full Name</a></li>
	                        <li><a href="javascript:void(0)">Accounts Email</a></li>
	                        <li><a href="javascript:void(0)">Accounts Company</a></li>
	                        <li><a href="javascript:void(0)">Contacts</a></li>
	                        <li><a href="javascript:void(0)">Contacts Full Name</a></li>
	                        <li><a href="javascript:void(0)">Contacts Email</a></li>
	                        <li><a href="javascript:void(0)">Opportunities</a></li>
	                        <li><a href="javascript:void(0)">Cases</a></li>
	                        <li><a href="javascript:void(0)">Projects</a></li>
	                        <li><a href="javascript:void(0)">Issues</a></li>
	                        <li><a href="javascript:void(0)">Solutions</a></li>
	                        <li><a href="javascript:void(0)">All</a></li>
					      </ul>
					    </div>                      
                        <input type="text" class="form-control" placeholder="Type a keyword and press enter" />
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <button type="button">
                                    <img src="images/icon_magnifying.png">
                                </button>
                            </div>
                        </div>
                    </div>
                    <span class="advSpan"><a href="">Advanced</a></span>
                </div>
            </div>

            <div class="col-md-3 h-quick-links">
                <ul class="nav navbar-nav">
                    <li><a >Help</a>
                    </li>
                    <li class="dropdown"  uib-dropdown>
                   
				      <a href="" class="btn btn-link" uib-dropdown-toggle>
				       		Raj Teja Villa
                            <span class="caret"></span>
				      </a>
				      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
				        <li role="menuitem"><a href="#">Calendar</a></li>
				        <li role="menuitem"><a href="#">Sign Out</a></li>
				      </ul>
				   
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
