<!--Udesh Start on 13dec-->
<html>
<head>    
	<title>Soffront Online</title>
	<link rel="stylesheet" href="css/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/marketing.css">
	<script src="js/jquery.min.js"></script>
</head>
<body>
<div id="preview" style="background-color:#eeeeee; padding:15px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody><tr>
    <td>
		<div class="preview_title_box">We request your consent to send you emails</div>
		<div class="preview_content_box">
			<div id="main">
  		    	<div id="msgBody" class="divBody">
  		         <p class="text-font"></p><table class="OuterSection" style="margin: 0px auto; padding: 0px; border: 1px solid rgb(221, 221, 221); width: 598px;" align="center" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<table style="font: 14px/normal Arial, Helvetica, sans-serif; color: rgb(93, 93, 93); font-size-adjust: none; font-stretch: normal;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td valign="top">
						<div class="HeaderheadingSection" style="font-size: 16px;">
						<table style="margin: 0px; background-color: rgb(231, 231, 231); color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; font-size: 16px;" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td style="padding: 10px 0px 10px 20px; color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; font-size: 16px;" height="70">
									<img alt="" src="images/marketing/sales_temp3_img2.jpg" style="padding-right: 10px;  max-height: 58px; max-width: 225px;" align="left"></td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
					<tr>
						<td align="right" valign="top">
						<table class="dummy-drop-area" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td>&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table style="margin: 0px 3px;" align="center" border="0" cellpadding="0" cellspacing="0" height="57" width="100%">
							<tbody>
								<tr>
									<td valign="top">
									<table style="font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255); border-top:0px;" width="592">
										<tbody>
											<tr>
												<td>
												<div class="ArticleheadingSection" customdictionaryids="" slang="en_US" userdictionaryname="">
												<table style="color: rgb(93, 93, 93); font-family: Arial, Helvetica, sans-serif; font-size: 28px;" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tbody>
														<tr>
															<td style="padding: 10px 20px; color: rgb(93, 93, 93); font-family: Arial, Helvetica, sans-serif; font-size: 28px;">We Request Your Consent to Send You Emails</td>
														</tr>
													</tbody>
												</table>
												</div>
												</td>
											</tr>
											<tr>
												<td>
												<div class="ArticledetailSection" customdictionaryids="" slang="en_US" userdictionaryname=""><table style="font-family: Arial, Helvetica, sans-serif;  color: rgb(93, 93, 93); font-size: 14px;" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td style="padding: 10px 20px 40px; font-family: Arial, Helvetica, sans-serif; color: rgb(93, 93, 93); font-size: 14px;">Canada's new anti-spam legislation requires that we get your consent to send you emails. If you would like to continue to receive emails from us, please click <span style="color:#0000FF;"><u>$$confirm_optin_link$$</u></span> to confirm.</td>
		</tr>
	</tbody>
</table>
</div>
												</td>
											</tr>
											<tr>
												<td align="left" valign="top">
												<div class="FooterSection" customdictionaryids="" slang="en_US" userdictionaryname="">
												<table style="height: 50px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tbody>
														<tr>
															<td style="padding: 10px 20px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size:14px;">Signature<br>
															Company Name<br>
															Street Address, City, State, zip</td>
														</tr>
													</tbody>
												</table>
												</div>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<p></p>
   		        </div>  		     	
  			</div>
  		</div>
   </td>
	
	
  </tr>
</tbody></table>
</div>

 </body>
 </html>
 <!--Udesh end on 13dec-->