<div id="preview" style="background-color:#eeeeee; padding:15px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody><tr>
    <td>
<div class="preview_title_box">Banner Promotion Multiple Column</div>
<div class="preview_content_box">
<div id="main">
 <div id="msgBody" class="divBody">
 <p class="text-font"></p>
 <table class="OuterSection" style="margin: 0px auto; padding: 0px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 598px;" align="center" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
<table style="font: 12px/normal Arial, Helvetica, sans-serif; color: rgb(88, 88, 88); font-size-adjust: none; font-stretch: normal;" align="center" border="0" cellpadding="0" cellspacing="0" width="580">
				<tbody>
					<tr>
						<td valign="top">
						<div class="HeaderheadingSection">
<table style="text-align: left; color: rgb(50, 50, 50); font-family: Arial, Helvetica, sans-serif; font-size: 28px;  background-color: rgb(238, 239, 239);" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
<td style="padding-bottom: 1px; color: rgb(50, 50, 50); font-family: Arial, Helvetica, sans-serif; font-size: 28px;padding-left:25px; letter-spacing: -1px;" height="77" valign="middle">Company name</td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
	<tr style="width: 580px;">
						<td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td>
	<div class="HeaderImageSection" style="background-color: rgb(255, 255, 255);">
	<table style="background-color: rgb(255, 255, 255);" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
<td align="center"><img src="images/marketing/banner_promo_img1.jpg" border="0" height="235" width="598"></td>
											</tr>
										</tbody>
									</table>
									</div>
									</td>
								</tr>
								<tr>
									<td style="background-color: rgb(255, 255, 255);">
									<div class="ArticleheadingSection">
									<table style="background-color: rgb(255, 255, 255); margin: 0px; color: rgb(155, 4, 0); font-family: Arial, Helvetica, sans-serif; font-size: 24px;" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
											<td style="color: rgb(155, 4, 0); font-family: Arial, Helvetica, sans-serif; font-size: 24px; padding: 15px 25px;">Newletter Title</td>
											</tr>
										</tbody>
									</table>
									</div>

									<div class="ArticledetailSection">
	<table style="background-color: rgb(255, 255, 255); margin: 0px 0px 10px; font-family: Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); font-size: 12px;" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td style="margin: 0px; padding: 10px 25px 20px; font-family: Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); font-size: 12px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
												<br>
												It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
											</tr>
										</tbody>
									</table>
									</div>

									<div class="ArticleheadingSection">
									<table style="background-color: rgb(255, 255, 255); margin: 0px; color: rgb(155, 4, 0); font-family: Arial, Helvetica, sans-serif; font-size: 24px;" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td style="color: rgb(155, 4, 0); font-family: Arial, Helvetica, sans-serif; font-size: 24px; padding: 10px 25px;">Featured Items</td>
											</tr>
										</tbody>
									</table>
									</div>

									<div>
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td style="padding: 10px 25px 20px;">
												<table border="0" cellpadding="0" cellspacing="0" width="100%">
													<tbody>
														<tr>
															<td class="LeftSection" style="background-color: rgb(213, 213, 213); padding: 12px 10px;" valign="top" width="32%">
															<div style="margin: 0px auto; width: 156px;">
															<table border="0" cellpadding="0" cellspacing="0" width="100%">
																<tbody>
																	<tr>
																		<td>
																		<div class="FeatureheadingSection">
																		<table style="background-color: rgb(213, 213, 213); margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); font-size: 18px;" border="0" cellpadding="0" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td style="font-family: Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); font-size: 18px; line-height: 24px;">Heading1</td>
																				</tr>
																			</tbody>
																		</table>
																		</div>

																		<div class="ImageSection">
																		<table style="background-color: rgb(213, 213, 213); margin: 0px; padding: 0px;" border="0" cellpadding="0" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td style="padding: 10px 0; vertical-align: top;"><img src="images/marketing/banner_promo_img2.jpg" border="0"></td>
																				</tr>
																			</tbody>
																		</table>
																		</div>

																		<div class="FeaturedetailSection">
																		<table style="background-color: rgb(213, 213, 213); color: rgb(52, 52, 52); font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
																			<tbody>
																				<tr>
																					<td style="color: rgb(52, 52, 52); font-family: Arial, Helvetica, sans-serif; font-size: 12px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
																				</tr>
																			</tbody>
																		</table>
																		</div>
																		</td>
																	</tr>
																</tbody>
															</table>
															</div>
															</td>
															<td>&nbsp;</td>
															<td class="CenterSection" style="background-color: rgb(213, 213, 213); padding: 12px 10px" valign="top" width="32%">
															<div style="margin: 0px auto; width: 156px;">
															<table border="0" cellpadding="0" cellspacing="0" width="100%">
																<tbody>
																	<tr>
																		<td>
																		<div class="FeatureheadingSection">
																		<table style="background-color: rgb(213, 213, 213); margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); font-size: 18px;" border="0" cellpadding="0" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td style="font-family: Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); font-size: 18px; line-height: 24px;">Heading2</td>
																				</tr>
																			</tbody>
																		</table>
																		</div>

																		<div class="ImageSection">
																		<table style="background-color: rgb(213, 213, 213); margin: 0px; padding: 0px;" border="0" cellpadding="0" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td style="padding: 10px 0px; vertical-align: top;"><img src="images/marketing/banner_promo_img2.jpg" border="0"></td>
																				</tr>
																			</tbody>

																		</table>
																		</div>

																		<div class="FeaturedetailSection">
																		<table style="background-color: rgb(213, 213, 213); color: rgb(52, 52, 52); font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
																			<tbody>
																				<tr>
																					<td style="color: rgb(52, 52, 52); font-family: Arial, Helvetica, sans-serif; font-size: 12px;">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.</td>
																				</tr>
																			</tbody>
																		</table>
																		</div>
																		</td>
																	</tr>
																</tbody>
															</table>
															</div>
															</td>
															<td>&nbsp;</td>
															<td class="RightSection" style="background-color: rgb(213, 213, 213); padding: 12px 10px;" valign="top" width="32%">
															<div style="margin: 0px auto; width: 156px;">
															<table border="0" cellpadding="0" cellspacing="0" width="100%">
																<tbody>
																	<tr>
																		<td>
																		<div class="FeatureheadingSection">
																		<table style="background-color: rgb(213, 213, 213); margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); font-size: 18px;" border="0" cellpadding="0" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td style="font-family: Arial, Helvetica, sans-serif; color: rgb(52, 52, 52); font-size: 18px; line-height: 24px;">Heading3</td>
																				</tr>
																			</tbody>
																		</table>
																		</div>

																		<div class="ImageSection">
																		<table style="background-color: rgb(213, 213, 213); margin: 0px; padding: 0px;" border="0" cellpadding="0" cellspacing="0" width="100%">
																			<tbody>
																				<tr>
																					<td style="padding: 10px 0px; vertical-align: top;"><img src="images/marketing/banner_promo_img2.jpg" border="0"></td>
																				</tr>
																			</tbody>
																		</table>
																		</div>

																		<div class="FeaturedetailSection">
																		<table style="background-color: rgb(213, 213, 213); color: rgb(52, 52, 52); font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
																			<tbody>
																				<tr>
																					<td style="color: rgb(52, 52, 52); font-family: Arial, Helvetica, sans-serif; font-size: 12px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
																				</tr>
																			</tbody>
																		</table>
																		</div>
																		</td>
																	</tr>
																</tbody>
															</table>
															</div>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</div>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<div class="FooterSection">
						<table style="text-align: center; border-top-color: rgb(111, 111, 111); border-top-width: 2px; border-top-style: solid; color: rgb(39, 39, 39); font-family: Arial, Helvetica, sans-serif; font-size: 11px; border-top-color: rgb(155, 4, 0); border-top-width: 1px; border-top-style: solid; background-color: rgb(255, 254, 128);" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td style="margin: 0px; padding: 10px 20px; color: rgb(39, 39, 39); font-family: Arial, Helvetica, sans-serif; font-size: 11px;" align="center">Lorem Ipsum is simply dummy text of the<br>
									printing and typesetting industry.</td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<p></p>
   		        </div>  		     	
  			</div>
  		</div>
   </td>	
 </tr>
</tbody>
</table>
</div>
