<html>
<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/marketing.css">
	<script src="js/jquery.min.js"></script>
    
<body>
<div id="preview" style="background-color:#eeeeee; padding:15px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody><tr>
    <td>
<div class="preview_title_box">Bakery Left Sidebar</div>
<div class="preview_content_box">
<div id="main">
 <div id="msgBody" class="divBody">
<p class="text-font"></p>
<table class="OuterSection" style="margin: 0px auto; padding: 0px; border: 1px solid rgb(195, 195, 195); border-image: none; width: 598px;" align="center" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td>
<table style="font: 12px/normal Arial, Helvetica, sans-serif; color: rgb(88, 88, 88); font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="width: 100%; text-align: left;" valign="top">
<div class="HeaderheadingSection">
<table style="color: rgb(222, 150, 48); font-family: Trebuchet Ms, Arial, Helvetica, sans-serif; font-size: 36px;  border-bottom-color: rgb(176, 102, 0); border-bottom-width: 4px; border-bottom-style: solid; background-color: rgb(255, 255, 255);" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="margin: 0px; padding: 12px 0px 0px 10px; color: rgb(222, 150, 48); font-family: Trebuchet Ms, Arial, Helvetica, sans-serif; font-size: 36px;" height="73">Sample Headline</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
<tr class="BodySection" style="width: 100%; background-color: rgb(255, 255, 255);">
<td style="padding: 14px 0px 10px 7px;">
<table style="font: 12px/normal Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="background-color: rgb(247, 232, 193);" valign="top" width="220">
<div style="padding: 10px 14px 0px 0px;">
<div class="BannerheadingSection">
<table style="margin: 0px; padding: 0px; font: bold 12px/normal Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(255, 255, 255); background-color: rgb(176, 103, 0);" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="font: bold 12px/normal Arial, Helvetica, sans-serif; padding: 5px 10px; width: 188px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;">Banner Headline</td>
</tr>
</tbody>
</table>
</div>
<div class="BannerdetailSection">
<table style="padding: 0px; font: 12px/normal Arial, Helvetica, sans-serif; margin: 4px 4px 0px 10px; color: rgb(176, 103, 0); font-size-adjust: none; font-stretch: normal; background-color: rgb(252, 248, 235);" border="0" cellpadding="0" cellspacing="0" width="188">
<tbody>
<tr>
<td style="font: 12px/normal Arial, Helvetica, sans-serif; color: rgb(176, 103, 0);">
<p style="margin: 4px 4px 10px 10px; padding: 6px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at tempor erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eu velit tellus</p>
</td>
</tr>
</tbody>
</table>
</div>

<div class="BannerheadingSection">
<table style="margin: 0px; padding: 0px; font: bold 12px/normal Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(255, 255, 255); background-color: rgb(176, 103, 0);" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td style="font: bold 12px/normal Arial, Helvetica, sans-serif; padding: 5px 10px; width: 188px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;">Feature Headline</td>
											</tr>
										</tbody>
									</table>
									</div>

									<div class="BannerdetailSection">
									<table style="padding: 0px; font: 12px/normal Arial, Helvetica, sans-serif; margin: 4px 4px 0px 10px; color: rgb(176, 103, 0); font-size-adjust: none; font-stretch: normal; background-color: rgb(252, 248, 235);" border="0" cellpadding="0" cellspacing="0" width="188">
										<tbody>
											<tr>
												<td style="font: 12px/normal Arial, Helvetica, sans-serif; color: rgb(176, 103, 0);">
												<p style="margin: 4px 4px 10px 10px; padding: 6px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at tempor erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eu velit tellus</p>
												</td>
											</tr>
										</tbody>
									</table>
									</div>

									<div class="BannerheadingSection">
									<table style="margin: 0px; padding: 0px; font: bold 12px/normal Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(255, 255, 255); background-color: rgb(176, 103, 0);" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td style="font: bold 12px/normal Arial, Helvetica, sans-serif; padding: 5px 10px; width: 188px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;">Feature Headline</td>
											</tr>
										</tbody>
									</table>
									</div>

									<div class="BannerdetailSection">
									<table style="padding: 0px; font: 12px/normal Arial, Helvetica, sans-serif; margin: 4px 4px 0px 10px; color: rgb(176, 103, 0); font-size-adjust: none; font-stretch: normal; background-color: rgb(252, 248, 235);" border="0" cellpadding="0" cellspacing="0" width="188">
										<tbody>
											<tr>
												<td style="font: 12px/normal Arial, Helvetica, sans-serif; color: rgb(176, 103, 0);">
												<p style="margin: 4px 4px 10px 10px; padding: 6px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at tempor erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eu velit tellus</p>
												</td>
											</tr>
										</tbody>
									</table>
									</div>

									<div class="BannerheadingSection">
									<table style="margin: 0px; padding: 0px; font: bold 12px/normal Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(255, 255, 255); background-color: rgb(176, 103, 0);" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td style="font: bold 12px/normal Arial, Helvetica, sans-serif; padding: 5px 10px; width: 188px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;">Feature Headline</td>
											</tr>
										</tbody>
									</table>
									</div>

									<div class="BannerdetailSection">
									<table style="padding: 0px; font: 12px/normal Arial, Helvetica, sans-serif; margin: 4px 4px 0px 10px; color: rgb(176, 103, 0); font-size-adjust: none; font-stretch: normal; background-color: rgb(252, 248, 235);" border="0" cellpadding="0" cellspacing="0" width="188">
										<tbody>
											<tr>
												<td style="font: 12px/normal Arial, Helvetica, sans-serif; color: rgb(176, 103, 0);">
												<p style="margin: 4px 4px 10px 10px; padding: 6px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at tempor erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eu velit tellus</p>
												</td>
											</tr>
										</tbody>
									</table>
									</div>
									</div>
									</td>
									<td class="RightcolumnSection" style="color: rgb(0, 0, 0); padding-right: 10px; padding-left: 7px; font-size: 12px; background-color: rgb(255, 255, 255);" valign="top" width="367">
									<div class="ImageSection">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td style="padding:0 0 10px; "><img alt="" src="images/marketing/bakery1_image1.jpg" style="border: 2px solid rgb(213, 213, 213); border-image: none;" border="0"></td>
											</tr>
										</tbody>
									</table>
									</div>

									<div class="ArticleheadingSection" style="margin: 10px 0px;">
									<table style="margin: 0px; padding: 0px; font: 18px/normal Arial, Helvetica, sans-serif; color: rgb(176, 103, 0); font-size-adjust: none; font-stretch: normal;" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td style="font: 18px/normal Arial, Helvetica, sans-serif; color: rgb(176, 103, 0); font-size-adjust: none; font-stretch: normal;">Sample Article Headline</td>
											</tr>
										</tbody>
									</table>
									</div>

									<div class="ArticledetailSection">
									<table style="margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 12px;" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td style="font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 12px; padding-bottom:10px;">Sample copy. Lorem ipsum dolor sit amet, adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Sample copy. Lorem ipsum dolor sit amet, adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.<br>
												<br>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at tempor erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eu velit tellus. Pellentesque imperdiet ultricies rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam aliquam sem ac odio pellentesque aliquam. Nunc pharetra sagittis porta. Vestibulum sagittis purus nec nulla condimentum fringilla.<br>
												<br>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at tempor erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eu velit tellus.<br>
												<br>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at tempor erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eu velit tellus.<br>
												<br>
												<br>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at tempor erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eu velit tellus.<br>
												<br>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at tempor erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eu velit tellus.</td>
											</tr>
										</tbody>
									</table>
									</div>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<div class="FooterSection">
						<table style="margin: 0px; padding: 0px; text-align: center; color: rgb(176, 103, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11px; border-top-color: rgb(176, 103, 0); border-top-width: 2px; border-top-style: solid; background-color: rgb(253, 236, 198);" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td style="color: rgb(176, 103, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding:15px 20px;">Lorem ipsum dolor sit amet, consectetur amet, consectetur<br>
									adipiscing elit. Suspendisse</td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<p></p>
   		        </div>  		     	
  			</div>
  		</div>
   </td>
	
	
  </tr>
</tbody></table>
</div>


</body>


</html>