<link rel="stylesheet" href="http://localhost:8080/TestClient/css/style1.css">
	<link rel="stylesheet" href="http://localhost:8080/TestClient/css/bootstrap.css">
	<link rel="stylesheet" href="http://localhost:8080/TestClient/css/main1.css">
	<link rel="stylesheet" href="http://localhost:8080/TestClient/css/marketing.css">
	<script src="http://localhost:8080/TestClient/js/libs/jquery-3.1.1.js"></script>
<div id="preview" style="background-color:#eeeeee; padding:15px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody><tr>
    <td>
		<div class="preview_title_box">Thank you for your time!</div>
		<div class="preview_content_box">
			<div id="main">
  		    	<div id="msgBody" class="divBody">
  		         <p class="text-font"></p>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="OuterSection" style="margin: 0px auto; padding: 0px; width: 600px; border: 1px solid rgb(204, 204, 204);">
<tbody>
<tr style="width: 600px;">
<td>
<table border="0" cellpadding="0" cellspacing="0" style="" width="100%">
<tbody>
<tr>
<td>
<div class="HeaderheadingSection" customdictionaryids="" slang="en_US" userdictionaryname="">
<table border="0" cellpadding="0" cellspacing="0" style="border-bottom:1px solid #E47200; background: rgb(223, 224, 226); color: rgb(69, 69, 69); font-family: Arial, Helvetica, sans-serif; font-size: 26px;" width="100%">
<tbody>
<tr>
<td height="80" style="color: rgb(69, 69, 69); font-family: Arial, Helvetica, sans-serif; font-size: 26px; padding-left: 20px;">Company Name</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
<tr>
<td style="padding: 20px;">
<div class="ArticleheadingSection" customdictionaryids="" slang="en_US" userdictionaryname="">
<table border="0" cellpadding="0" cellspacing="0" style="color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: 22px;" width="100%">
<tbody>
<tr>
<td style="color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: 22px; padding-bottom: 10px;">Thank you for your time!</td>
</tr>
</tbody>
</table>
</div>
<div class="ArticledetailSection" customdictionaryids="" slang="en_US" userdictionaryname="">
<table border="0" cellpadding="0" cellspacing="0" style="font-family: Arial, Helvetica, sans-serif; color: rgb(69, 69, 69); font-size: 14px;" width="100%">
<tbody>
<tr>
<td style="padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif; color: rgb(69, 69, 69); font-size: 14px;">
<b>Thank you for subscribing. You have successfully been added to our email list.</b><br><br>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
									<br>
									<br>
									It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
					<tr>
<td align="left">
<div class="FooterSection" customdictionaryids="" slang="en_US" userdictionaryname="">
<table border="0" cellpadding="0" cellspacing="0" style="color: rgb(69, 69, 69); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(221, 221, 221);" width="100%">
<tbody>
<tr>
<td style="padding: 20px; color: rgb(69, 69, 69); font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: left; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid; font-size-adjust: none; font-stretch: normal;"><img src="images/soffront_logo.png" style="border-width: 0px; border-style: solid; width: 130px; height: 26px;"></td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<p></p>
   		        </div>  		     	
  			</div>
  		</div>
   </td>

  </tr>
</tbody></table>
</div>
