<!--Start on 8 December mansi-->
<body>

<div id="parentView">
	<div class="submenu_area">
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tbody><tr>
		<td valign="top" align="left">
			<div style="overflow: hidden; width: 100%;">
			    <select class="listmenu1 float-left" style="width: 100%; visibility: hidden; display: none;" id="fieldLists" onchange="getCntAndValueList();">
				
					<option section="field" uniqueid="fieldt_table_name" value="t_table_name" tablefldname="t_table_name">Table Name</option>
				
					<option section="field" uniqueid="fieldt_source" value="t_source" tablefldname="t_source">Source</option>
				
					<option section="field" uniqueid="fieldt_status" value="t_status" tablefldname="t_status">Status</option>
				
				</select>
				<div class="dropdown-box" style="height: 22px; float: left;">
				  <div class="dropdown-header">
				  <span class="title" title="Status">Table Name</span>
				  <img src="images/arrow_open_orange.png" valign="middle" class="dropdown-img">
				  </div>
				  <div class="drop-menu-box" style="display: none;">
				  <div class="menu-items">
				  <table cellspacing="0" cellpadding="0"><tbody><tr class="table-tr"><td valign="top">
          <!--make changes on 9 December mansi-->
				  <div class="drop-menu-item selected" title="Table_Name" value="t_table_name" section="field" style="width: 115px;"><a href="webform.html">Table Name</a></div>
				  <div class="drop-menu-item" title="Source" value="t_source" section="field" style="width: 115px;"><a href="webform_source.html">Source</a></div>
				  <div class="drop-menu-item" title="Status" value="t_status" section="field" style="width: 115px;"><a href="webform_status.html">Status</a></div>
          <!--end changes on 9 December mansi-->
				  </td></tr>
				  </tbody>
				  </table>
				  </div>
				  </div>
				</div>
				<img src="images/submenu_arrow.png" class="arrow">
				<ul class="sublist float-left" id="navigationFields" style="margin: 0px; padding: 0px; visibility: visible;">
				<li class="field ui-tab" style="text-overflow: inherit; max-width: 564px; padding-right: 25px;">
				<a href="" title="All(1)" id="AllField1" class="active">All (1)</a>
				</li>
				<li class="field ui-tab" style="text-overflow: inherit; max-width: 564px; padding-right: 0px;">
				<a href="" title=" Cases(1)" id="Cases">Cases (1)</a>
				</li>
				</ul>
			</div>
		</td>
	</tr>
	</tbody></table>
	</div>
</div>
<div id="spreadsheet">
<div id="inside_page_content2" style="margin-top: 30px; margin-right: 1%">
  <div class="icon_area">
			
		    <span class="add-icon" ng-class="{active:isActiveTab({ url:'view/Webforms/create_web_forms.html'})}"   ng-click="onClickTab({ url:'view/Webforms/create_web_forms.html'}); addTab({title: 'Create Web Forms', url: 'view/Webforms/create_web_forms.html'} )">
            <img src="images/icon_add.png" />Add
            </span>
          
            <span class="refresh-icon" ng-click="refresh();" style="margin-left: 11px;">
            <img src="images/icon_refresh_g.png" />Refresh
            </span>
	</div>
	<div id="name">
				<div width="15%" align="right" class="top_text3" style="padding-right:5px; font-weight: bold;" id="objectValueStr1">&nbsp;Name</div>
				<div class="textbox_area1">
				   <ul id="nav2">
                          <li>
                            <div align="right" class="top_text3"><a href="javascript:void(0);" id="trigger" style="outline: none;">
                            	<img src="images/img_down_arrow.png" border="0" class="img_margin2"></a></div>
                                <!--start on 16 December mansi-->
            <ul class="dropbox" id="objDrop">
            <li>
            <a href="javascript: void(0);">&nbsp;Name</a>
            </li>
            <li>
            <a href="javascript: void(0);">&nbsp;Source</a>
            </li>
            <li>
            <a href="javascript: void(0);">&nbsp;Status</a>
            </li>
            <li>
            <a href="javascript: void(0);">&nbsp;All</a>
            </li>
            </ul>
                <!--end on 16 December mansi-->
                          </li>
                    </ul>
                     <input name="formCondition" type="text" class="textbox1" id="formCondition" placeholder=" Type a keyword and press enter">
                     <img src="images/icon_magnifying.png" border="0" id="search1" onclick="javascript:submitQuickSearch();" title="Find">
               </div>
	</div>
 <div id="recordFetch" class="icon_area" style="float: right;">
        <div class="page_number">
         <b id="listViewFrom" class="list_gray">1</b>-<b id="listViewTo" class="list_gray">1</b>&nbsp;of&nbsp;
         <b id="listViewTotal" class="list_gray">1</b>  
        </div>
        <div class="gmail-buttons">
        <div class="gmail-img-button" title="Previous page" callback="GoBack" style="margin-right: 4px;">
        <img src="images/arrow_left_gray.png" align="absmiddle">
        </div>
        <div class="gmail-img-button" title="Next page" callback="GoNext" style="margin-right: 4px;">
        <img src="images/arrow_right_gray.png" align="absmiddle">
        </div>
        <div class="gmail-img-button" title="Set page size" callback="showFetchSize" style="margin-right: 4px;"><img src="images/arrow_down_gray.png" align="absmiddle">
        </div>
        </div>    
      </div>
      
</div>
</div>
<div class="list_gray_box" style="padding: 0px;" id="recordList">
<table  cellpadding="0" cellspacing="0" class="listview_table table-colsizable" style="width: 1278px;">
   <thead>
      <tr>
         <th width="35" align="left" valign="top">
            <input type="checkbox" name="selectAll" title="Select all" class="listview_header_checkbox">
         </th>
         <th align="left" valign="top" class="listview_pheader_td selected">
            <div class="table-colsizable-handler" title="Expand/Collapse this column"></div>
            <div class="listview_pheader_div">
               <div class="listview_pheader_cdiv">
               <strong class="arrow1">↓</strong>
                  <span id="name1" title="Name">Name</span>
               </div>
            </div>
         </th>
         <th align="left" valign="top" class="listview_pheader_td">
            <div class="table-colsizable-handler" title="Expand/Collapse this column"></div>
            <div class="listview_pheader_div">
               <div class="listview_pheader_cdiv"><span id="t_name" title="Table_Name">Table Name</span></div>
            </div>
         </th>
         <th align="left" valign="top" class="listview_pheader_td">
            <div class="table-colsizable-handler" title="Expand/Collapse this column"></div>
            <div class="listview_pheader_div">
               <div class="listview_pheader_cdiv"><span id="group" title="Group">Group</span></div>
            </div>
         </th>
         <th align="left" valign="top" class="listview_pheader_td">
            <div class="table-colsizable-handler" title="Expand/Collapse this column"></div>
            <div class="listview_pheader_div">
               <div class="listview_pheader_cdiv"><span id="source" title="Source">Source</span></div>
            </div>
         </th>
         <th align="left" valign="top" class="listview_pheader_td">
            <div class="table-colsizable-handler" title="Expand/Collapse this column"></div>
            <div class="listview_pheader_div">
               <div class="listview_pheader_cdiv"><span id="status" title="Status">Status</span></div>
            </div>
         </th>
         <th align="left" valign="top" class="listview_pheader_td">
            <div class="table-colsizable-handler" title="Expand/Collapse this column"></div>
            <div class="listview_pheader_div">
               <div class="listview_pheader_cdiv"><span id="assign_to" title="Assign_to">Assign To</span></div>
            </div>
         </th>
      </tr>
   </thead>
   <tbody>
   <tr class="border_bottom" id="r22173">
      <td align="left" valign="top"><input type="checkbox" name="recordCB" value="22173" id="record22173" class="listview_checkbox"></td>
      <td align="left" valign="top" class="listview_precord_td">
         <div class="listview_precord_div">
            <div class="listview_precord_cdiv"><span id="opt" class="record_title" title="opt_form"><a href="#">Opt-in form</a></span></div>
         </div>
      </td>
      <td align="left" valign="top" class="listview_precord_td">
         <div class="listview_precord_div">
            <div class="listview_precord_cdiv"><span id="case" title="Cases">Cases</span></div>
         </div>
      </td>
      <td align="left" valign="top" class="listview_precord_td">
         <div class="listview_precord_div">
            <div class="listview_precord_cdiv"><span id="r87"></span></div>
         </div>
      </td>
      <td align="left" valign="top" class="listview_precord_td">
         <div class="listview_precord_div">
            <div class="listview_precord_cdiv"><span id="r88" title="Inactive"></span></div>
         </div>
      </td>
      <td align="left" valign="top" class="listview_precord_td">
         <div class="listview_precord_div">
            <div class="listview_precord_cdiv"><span id="active" title="Active">Active</span></div>
         </div>
      </td>
      <td align="left" valign="top" class="listview_precord_td">
         <div class="listview_precord_div">
            <div class="listview_precord_cdiv"><span id="ravi_teja" title="">Ravi Teja</span></div>
         </div>
      </td>
    </tr>
</tbody>
</table>
</div>

  <div id="recordFetch" class="icon_area" style="float: right;">
        <div class="page_number">
         <b id="listViewFrom" class="list_gray">1</b>-<b id="listViewTo" class="list_gray">1</b>&nbsp;of&nbsp;
         <b id="listViewTotal" class="list_gray">1</b>  
        </div>
        <div class="gmail-buttons">
        <div class="gmail-img-button" title="Previous page" callback="GoBack" style="margin-right: 4px;">
        <img src="images/arrow_left_gray.png" align="absmiddle">
        </div>
        <div class="gmail-img-button" title="Next page" callback="GoNext" style="margin-right: 4px;">
        <img src="images/arrow_right_gray.png" align="absmiddle">
        </div>
        <div class="gmail-img-button" title="Set page size" callback="showFetchSize" style="margin-right: 4px;"><img src="images/arrow_down_gray.png" align="absmiddle">
        </div>
        </div>    
      </div>
</body>
<!--start on 9 December mansi-->
<script>

 $(document).ready(function() {
        $('.dropdown-header').click(function() {
                $('.drop-menu-box').slideToggle("fast");
        });
    });
  </script>
  <!--start on 16 December mansi-->
  <script>

 $(document).ready(function() {
        $('.img_margin2').click(function() {
          $('.dropbox').slideToggle("fast");
        });
    });
  </script>
  <script>
  $(document).ready(function() {
    $("ul.dropbox li a").click(function() {
                var t1 = $(this).text();
                $("#objectValueStr1").text(t1);
                 $("ul.dropbox").hide();
            });
    });
  </script>
  <!--end on 16 December mansi-->

<!--end on 9 December mansi-->

<!--end on 8 December mansi-->